security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            form_login:
                login_path: app_log_in_page
                check_path: app_login
                default_target_path: /dashboard
                username_parameter: _username
                password_parameter: _password
            logout:
                path: app_logout
                target: app_log_in_page

    access_control:
        - { path: ^/(log/in|login)$, roles: PUBLIC_ACCESS }
        - { path: ^/dashboard, roles: ROLE_ADMIN }
